<ion-view title="Bucket List" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="leaderboard-list3">
            
<!--            <button class="bucket-list-link" id="link-Lower-Manhattan">-->
            <ion-item class="item-avatar bucket-list" id="bucket-list1">
                <i class="icon ion-android-map" style="font-size:50px; color: black"></i>
                <h1 class="bucket-list-category">Buildings</h1>
                
                <button ng-click="getBuildings()" class="bucket-list-link bucket-list-link-map">
                    <h1 class="view-on-map-button bucket-list-button" id="view-on-map-button-Landmarks">View On Map</h1>
                </button>
                <button  ng-click="listBuildings()" class="bucket-list-link bucket-list-link-list">
                    <h1 class="view-bucket-list-button bucket-list-button" id="view-bucket-list-button-Buildings">View Bucket List</h1>
                </button>
                
            </ion-item>
<!--			</button>-->
            
<!--            <button ng-click="getLandmarks()" class="bucket-list-link" id="link-Midtown">-->
            <ion-item class="item-avatar bucket-list" id="bucket-list2">
                <i class="icon ion-android-map" style="font-size:50px; color: black"></i>
                <h1 class="bucket-list-category">Landmarks</h1>
<!--			</button>-->
                <button ng-click="getLandmarks()" class="bucket-list-link bucket-list-link-map">
                    <h1 class="view-on-map-button bucket-list-button" id="view-on-map-button-Landmarks">View On Map</h1>
                </button>
                <button ng-click="listLandmarks()" class="bucket-list-link bucket-list-link-list">
                    <h1 class="view-bucket-list-button bucket-list-button" id="view-bucket-list-button-Buildings">View Bucket List</h1>
                </button>
            
			</ion-item>
            
<!--                <button ng-click="getBusinesses()" class="bucket-list-link" id="link-Midtown">-->
            <ion-item class="item-avatar bucket-list" id="bucket-list2">
                <i class="icon ion-android-map" style="font-size:50px; color: black"></i>
                <h1 class="bucket-list-category">Businesses</h1>
<!--                </button>-->
                
                <button ng-click="getBusinesses()" class="bucket-list-link bucket-list-link-map">
                <h1 class="view-on-map-button bucket-list-button" id="view-on-map-button-Landmarks">View On Map</h1>
                </button>
                <button ng-click="listBusinesses()" class="bucket-list-link bucket-list-link-list">
                <h1 class="view-bucket-list-button bucket-list-button" id="view-bucket-list-button-Buildings">View Bucket List</h1>
                </button>

			</ion-item>
            
            
            <button ng-click="showImagos()" class="bucket-list-link bucket-list-link-list">
            <center><h1 class="view-bucket-list-button bucket-list-button" id="view-bucket-list-button-Buildings">Show All Imagos On Map</h1></center>
            </button>
            
            
        </ion-list>
    </ion-content>
</ion-view> 