<ion-view title="Bucket List" id="page4">
    <ion-content padding="true" class="has-header">
		<ion-list id="leaderboard-list3">
				<ion-item class="item-avatar bucket-list" id="bucket-list-Landmarks">
					<i class="icon ion-android-map" style="font-size:35px; color: black"></i>
					<h1 class="bucket-list-category">Landmarks</h1>
					<a href="" class="bucket-list-link bucket-list-link-map">
						<h1 class="view-on-map-button bucket-list-button" id="view-on-map-button-Landmarks">View On Map</h1>
					</a>
					<a href="" class="bucket-list-link bucket-list-link-list">
						<h1 class="view-bucket-list-button bucket-list-button" id="view-bucket-list-button-Landmarks">View Bucket List</h1>
					</a>
				</ion-item>
				<ion-item class="item-avatar bucket-list" id="bucket-list-Buildings">
					<i class="icon ion-android-map" style="font-size:35px; color: black"></i>
					<h1 class="bucket-list-category">Buildings</h1>
					<a href="" class="bucket-list-link bucket-list-link-map">
						<h1 class="view-on-map-button bucket-list-button" id="view-on-map-button-Landmarks">View On Map</h1>
					</a>
					<a href="" class="bucket-list-link bucket-list-link-list">
						<h1 class="view-bucket-list-button bucket-list-button" id="view-bucket-list-button-Buildings">View Bucket List</h1>
					</a>
				</ion-item>
				<ion-item class="item-avatar bucket-list" id="bucket-list-Restaurants">
					<i class="icon ion-android-map" style="font-size:35px; color: black"></i>
					<h1 class="bucket-list-category">Restaurants</h1>
					<a href="" class="bucket-list-link bucket-list-link-map">
						<h1 class="view-on-map-button bucket-list-button" id="view-on-map-button-Restaurants">View On Map</h1>
					</a>
					<a href="" class="bucket-list-link bucket-list-link-list">
						<h1 class="view-bucket-list-button bucket-list-button" id="view-bucket-list-button-Restaurants">View Bucket List</h1>
					</a>
				</ion-item>
        </ion-list>
    </ion-content>
</ion-view>