<ion-view title="Camera" hide-nav-bar="true" id="page12" class=" ">
    <ion-content padding="true" style="background: url(img/reZELoJgS6iiYdSY5Cqj_Fugwah_cam.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 920px;"></div>
        <div id="camera-button-bar9" class=" button-bar ">
            <a ui-sref="points" id="camera-button9" class=" button button-stable  button-block icon ion-android-camera "></a>
        </div>
    </ion-content>
</ion-view>