<ion-view title="Imago Details" id="page10">
    <ion-content padding="true" class="has-header">
      
<!--        <h4 id="details-heading9" style="color:#000000;font-weight:400;text-align:center;" class=" ">Details</h4>-->
        <ion-list id="details-list12" class=" ">
            <ion-item class="item-thumbnail-left  " id="details-list-item11">
                <img style="width:auto; height:auto" src={{imgSrc}}>
                <h2>{{title}}</h2>
                <p>{{description}}</p>
            </ion-item>
            <ion-item id="details-list-item12" class="  ">Founded: {{originDate}}
                <span class="item-note"></span>
            </ion-item>
            <ion-item id="details-list-item13" class="  ">Address: {{address}}</ion-item>
            
         <ion-item id="details-list-item14" height="auto" class="  ">

        <div id="details-markdown6" style="margin-top:0px;color:#000000;display: inline;" class="funfact" >
            <p id="funfactp">Fun Fact: {{funFact}}</div>
            </p>
            </ion-item>
        <div>
            <p>
            </p>
            <center>
                <a href={{funFact}}>Learn more</a>
            </center>
            <p></p>
        </div>
        <div id="details-button-bar10" class=" button-bar ">
            <a ui-sref="share" id="details-button30" class=" button button-positive  button-block button-clear icon ion-social-facebook "></a>
            <a ui-sref="share" id="details-button32" class=" button button-dark  button-block button-clear icon ion-social-instagram "></a>
        </div>
    </ion-content>
</ion-view>