<ion-view title="Imago Details" id="page10">
    <ion-content padding="true" class="has-header">
      
        <ion-list id="details-list12" class=" ">

            <ion-item class="item-thumbnail-left  " id="details-list-item11">
                <img style="width:auto; height:100%" src={{imgSrc}}>
                <h2 style="font-size:30px; white-space:normal;">{{title}}</h2>
                <p style="font-size:25px; line-height: 30px; white-space:normal;">{{description}}</p>
            </ion-item>

            <ion-item id="details-list-item12" class="  " style="font-size:25px; line-height: 30px">
                Founded: {{originDate}}
            </ion-item>

            <ion-item id="details-list-item13" class="  " style="white-space:normal; font-size:25px; line-height: 30px">
                Address: {{address}}
            </ion-item>
            
            <ion-item id="details-list-item14" class="  " style="white-space:normal; font-size:25px; line-height: 30px">
                Fun Fact: {{funFact}}
            </ion-item>

            <div>
                <center>
                    <a href={{learnMore}} target="_blank" style="font-size:30px; line-height: 40px">Learn more</a>
                </center>
            </div>

    </ion-content>
</ion-view>