<ion-view title="Mmuseumm" id="page10">
    <ion-content padding="true" class="has-header">
      
        <h4 id="details-heading9" style="color:#000000;font-weight:400;text-align:center;" class=" ">Details</h4>
        <ion-list id="details-list12" class=" ">
            <ion-item class="item-thumbnail-left  " id="details-list-item11">
                <img style="width:auto; height:auto" src="img/mmuseumm.jpg">
                <h2>Mmuseumm</h2>
                <p>Museum in an Elevator Shaft</p>
            </ion-item>
            <ion-item id="details-list-item12" class="  ">2012 and 2015
                <span class="item-note"></span>
            </ion-item>
            <ion-item id="details-list-item13" class="  ">4 Cortlandt Alley, New York, NY 10013</ion-item>
            
         <ion-item id="details-list-item14" height="auto" class="  ">

        <div id="details-markdown6" style="margin-top:0px;color:#000000;display: inline;" class="funfact" >
            <p id="funfactp">Fun Fact: The Mmuseumm is a modern natural history museum disguised as an old elevator shaft. The Mmuseumm is a modern natural history museum disguised as an old elevator shaftThe Mmuseumm is a modern natural history museum disguised as an old elevator shaftThe Mmuseumm is a modern natural history museum disguised as an old elevator shaftThe Mmuseumm is a modern natural history museum disguised as an old elevator shaft</div>
            </p>
            </ion-item>
        <div>
            <p>
            </p>
            <center>
                <a href="https://en.wikipedia.org/wiki/Mmuseumm">Learn more</a>
            </center>
            <p></p>
        </div>
        <div id="details-button-bar10" class=" button-bar ">
            <a ui-sref="share" id="details-button30" class=" button button-positive  button-block button-clear icon ion-social-facebook "></a>
            <a ui-sref="share" id="details-button32" class=" button button-dark  button-block button-clear icon ion-social-instagram "></a>
        </div>
    </ion-content>
</ion-view>