<ion-view title="Profile" hide-back-button="true" id="page7">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="profile-card21">
            <center><img src={{user.photoURL}} style="width:30%; border-radius:100%"></center>
            <ion-item class="item-avatar" id="profile-list-item10">
                <h2 id="display-username" style="margin-left:5px;">{{user.displayName}}</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
<!--                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
            </div>
            <ion-item class="item-icon-left assertive" id="profile-list-item11">
                <i class="icon ion-ios-location"></i>Imagos
			</ion-item>
			<div id="dropdown-imagos">
			HEYYYY
			</div>
        </div>
		
    </ion-content>
</ion-view>