<ion-view title="Sign Up" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form2" class="list ">
            <label class="item item-input " id="signUp-input8" name="Name">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Janet">
            </label>
            <label class="item item-input " id="signUp-input9" name="Name">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Zhang">
            </label>
            <label class="item item-input " id="signUp-input3" name="username">
                <span class="input-label">Username</span>
                <input type="text" placeholder="username">
            </label>
            <label class="item item-input " id="signUp-input4" name="password">
                <span class="input-label">Password</span>
                <input type="password" placeholder="password">
            </label>
            <label class="item item-input " id="signUp-input10" name="email">
                <span class="input-label">Email</span>
                <input type="email" placeholder="janet@example.com">
            </label>
        </form>
        <a ui-sref="map" id="signUp-button16" class=" button button-positive  button-block ">Sign Up</a>
        <h4 id="signUp-heading4" style="color:#000000;text-align:center;" class=" ">Sign up with:</h4>
        <div id="signUp-button-bar5" class=" button-bar ">
            <button id="signUp-button17" class=" button button-positive  button-block ">Facebook</button>
            <button id="signUp-button18" class=" button button-positive  button-block ">Instagram</button>
            <button id="signUp-button19" class=" button button-positive  button-block ">Google</button>
        </div>
    </ion-content>
</ion-view>