<ion-view title="Friend1" hide-nav-bar="true" id="page21" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <ion-list id="friend1-list21" class=" ">
            <ion-item class="item-avatar  " id="friend1-list-item37">
                <img src="img/5svUolw1SZuX5tH1eDBq_Jenny.jpg">
                <h2>Jenny Xu</h2>
            </ion-item>
            <ion-item class="item-icon-right  " id="friend1-list-item38">Flushing
                <i class="icon ion-android-add-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="friend1-list-item39">Chinatown
                <i class="icon ion-android-add-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="friend1-list-item41">APUSH Pd 5
                <i class="icon ion-android-add-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="friend1-list-item40">Random
                <i class="icon ion-android-add-circle icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>