# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# cordova-plugin-googlemaps
platforms/android/assets/www/plugins/plugin.google.maps/
platforms/android/platform_www/plugins/plugin.google.maps/
platforms/ios/Imago/Plugins/com.googlemaps.ios/
platforms/ios/Imago/Plugins/plugin.google.maps/
platforms/ios/platform_www/plugins/plugin.google.maps/
platforms/ios/www/plugins/plugin.google.maps/
plugins/com.googlemaps.ios/
plugins/plugin.google.maps/
platforms/android/src/plugin/google/maps
env.constants.js
.brackets.json