/* MAPS */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#camera-button-map {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

#camera-button-map > span {
  display: flex;
  justify-content: center;
}

#camera-button-map > span > a > i {
  font-size: 80px;
  color: black;
}
/*

.popUp{
    width: 200px;
    height: 200px;
}

.img{
    max-width: 150px;
    max-height: auto;
}
*/

.hint{
    width: 100% !important;
}   
.item-avatar{
	padding-left:0px !important;
	padding-bottom:10px !important;
	padding-top:19px !important;
}
.rank{
	display:inline;
	position:relative;
	padding-left:30px;
	padding-right:30px;
	margin-bottom:0px;
}
.name{
	display:inline;
	position:relative;
	top:-15px;
	padding-left:5px;
}
.score{
	padding-left:90px;
	position:relative;
	top:-15px;
}

/* PREVENTS ng-show from flashing because of ng-animate */
.ng-hide.ng-hide-animate{
     display: none !important;
}

#login-button3{
  background-color: white;
  width:65%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  color: black !important;
  padding: 0 0 0 0 !important;
}
