/* MAPS */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#camera-button-map {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

#camera-button-map > span {
  display: flex;
  justify-content: center;
}

#camera-button-map > span > a > i {
  font-size: 80px;
  color: black;
}
/*

.popUp{
    width: 200px;
    height: 200px;
}

.img{
    max-width: 150px;
    max-height: auto;
}
*/

.hint{
    width: 100% !important;
}   
.item-avatar{
	padding-left:5px !important;
}
.rank{
	display:inline;
	padding-left:10px;
	padding-right:65px;
}
.name{
	display:inline;
	position:relative;
	top:-10px;
}
.score{
	padding-left:98px;
	position:relative;
	top:-10px;
}

