/* MAPS */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#camera-button-map {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

#camera-button-map > span {
  display: flex;
  justify-content: center;
}

#camera-button-map > span > a > i {
  font-size: 80px;
  color: black;
}

.sideMenu-user-photo {
  width: 22%;
  height: auto;
  display: block;
  margin: 5px auto 5px auto;
  border-radius: 50%;
}

/*

.popUp{
    width: 200px;
    height: 200px;
}

.img{
    max-width: 150px;
    max-height: auto;
}
*/

.hint{
    width: 100% !important;
}
.item-avatar{
	padding-left:0px !important;
	padding-bottom:10px !important;
	padding-top:19px !important;
}
.rank{
	display:inline;
	position:relative;
	padding-left:30px;
	padding-right:30px;
	margin-bottom:0px;
	font-weight:300;
}
.name{
	display:inline;
	position:relative;
	top:-15px;
	padding-left:5px;
}
.score{
	padding-left:90px;
	position:relative;
	top:-15px;
}

/* PREVENTS ng-show from flashing because of ng-animate */
.ng-hide.ng-hide-animate{
     display: none !important;
}

#login-button3{
  background-color: white;
  width:65%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  color: black !important;
  padding: 0 0 0 0 !important;
}
.item-avatar{
	padding-left:0px !important;
}
/*Bucket-List*/
.bucket-list-category{
	font-size: 18px;
	font-weight:300;
	display:inline;
	position:relative;
	top:-10px;
}
.ion-android-map{
	display:inline;
	padding-left:20px;
	padding-right:20px;
}
.bucket-list-link{
	color:white;
	font-size:12px;
	border-radius:3px;
	text-decoration:none;
	padding:0 0 0 0;
	position:relative;
	float:right;
	display:inline;
}
.bucket-list-link-list{
	background-color:rgb(68,68,68);
	padding: 2px 3px 5px 3px !important;
	/*top:-15px;*/
}
.bucket-list-link-map{
	background-color:rgb(56,126,245);
	padding: 2px 3px 5px 3px !important;
	/*bottom:-15px;*/
}





#details-list-item14{
    overflow: auto !important;
    max-height: 400px !important;
}

#funfact{
    width: 200px !important;
    overflow: scroll !important;
    display:inline;
}

#funfactp{
    width: 200px !important;
    overflow: scroll !important;
    display:inline;
}

.p{
    overflow: auto !important;
    display: inline;
    max-width: 400px !important;
}

#rcorners2 {
    border-radius: 50%;
    border: 30px solid white;
    padding: 20px;
    width: 200px;
    height: 200px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
}
#dropdown-imagos{
	display:none;
}
#profile-list-item11:hover #dropdown-imagos{
	display:inline;
}

/** LEADERBOARD **/
.leaderboard-left {
  float: left;
}

.leaderboard-right {
  float: right;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/** BUCKETLIST **/
.bucket-list-link{
 text-decoration:none;
 padding:0 0 0 0;
 position:relative;
}
.bucket-list-button{
 color:white;
 font-size:16px;
 border-radius:3px;
 display:inline;
 position:relative;
}
.view-on-map-button{
 background-color:rgb(56,126,245);
 padding: 1px 20px 4px 20px;
}
.view-bucket-list-button{
 background-color:rgb(68,68,68);
 padding: 1px 6px 4px 6px;
}

/**BUCKETLIST**/

  .container { 
    width: 100%;  
    height: auto;
    overflow: hidden; 
  }
  .container img { 
    width: 100%;
  }

/**PROFILE**/

